<%= erb :"partials/_nav", layout: false %>

<div class="container">


<ol class="show">
<li class="<%= @post.id %>" id="post">
      <a href="<%= @post.url %>"><%= @post.title%></a>
      <span>(<%= clean_link(@post.url) %>)</span>
      <small><%= @post.postvotes.count %> points by <%= @post.user.name %> <%= (@post.created_at).ago_in_words %> | <ahref="/posts/<%= @post.id%>"><%= @post.comments.count%> comments</a></small>
       <%= erb :"partials/_vote", layout: false, locals: {post: @post} %>
</li>
</ol>



<form action="/posts/<%= @post.id%>/comments/new" method="post">
      <textarea name="body" rows="4" cols="50"></textarea>
      <input type="submit" value="add comment">
</form>


<section class="comments">

  <% @post.comments.each do |comment| %>
  	<%= erb :"partials/_commentvote", layout: false, locals: { comment: comment } %>
  <small><%= comment.user.name%> <%= (comment.created_at).ago_in_words%>
  </small>
 <p><%= comment.body %> <span><a class="reply" href="/comments/<%= comment.id %>">reply</a></span> </p>

 

 <% end %>

</section>







